html,body
{
    margin: 0;
    padding: 0;
    background: #88c1f0;
    height: 1400px;
}
#wrap
{
    background: #ffffff;
    width: 850px;
    height: 1200px;
    margin: 80px auto auto auto;
    /*设置圆角*/
    border:2px solid;
    border-radius:15px;
    -moz-border-radius:25px; /* Old Firefox */

}
#header
{
    margin: 30px auto auto auto;
    width: 300px;
}
#finder
{
    margin: 50px auto auto auto;
    height: 50px;
    width: 800px;
}
#title
{
    filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
    margin: 50px auto auto auto;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 40px;
    width: 300px;
    color: rgb(3, 28, 59);
}
#main
{
    background: #ffffff;
    width: 800px;
    margin: 20px auto auto auto;
}
#dia
{
    color: rgb(247, 90, 18);
    font-size: 25px;
    font-weight: 800;
}
#dou
{
    color: #eea811;
    font-size: 25px;
    font-weight: 800;
}
#ic
{
    color: rgb(0, 81, 255);
    font-size: 25px;
    font-weight: 800;
}
#di
{
    color: rgb(245, 11, 11);
    font-size: 25px;
    font-weight: 800;
}
#total_dia
{
    color: rgb(245, 11, 11);
    font-size: 25px;
    font-weight: 800;
}
#do
{
    color: #11daf5;
    font-size: 25px;
    font-weight: 800;
}
#total_cu
{
    color: #11daf5;
    font-size: 25px;
    font-weight: 800;
}
#i
{
    color: rgb(44, 43, 43);
    font-size: 25px;
    font-weight: 800;
}
#total_dea
{
    color: rgb(44, 43, 43);
    font-size: 25px;
    font-weight: 800;
}
table
{
    width: 200%;
    position: relative;
    left:-165px;
    top:-10px;
}
td
{
    text-align: center;
}
#chaxun
{
    background-color: rgb(78, 148, 240); /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 4px;
    /*移动到按钮上时鼠标变成手指形状*/
    cursor:pointer;
}
#a,#b,#c,#d
{
    background-color: rgb(78, 148, 240);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 auto;
    /*移动到按钮上时鼠标变成手指形状*/
    cursor:pointer;
}
#time
{
    color: rgb(165, 173, 172);
    font-size: 13px;
}
#select
{
    margin: 40px auto auto auto;
    width: 300px;
}
#select2
{
    margin: 20px auto auto auto;
    width: 600px;
}
#return
{
  float: right;
}
